@model NTP_MVC.Models.SO_SoKhamBenh

@*@Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor, Theme = "MetropolisBlue" },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "MetropolisBlue" },
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "MetropolisBlue" }
    )*@
<div style="overflow-y:scroll; width:auto; height:550px;">

    @Html.DevExpress().FormLayout(settings =>
    {
        settings.Name = "FormSoKhamBenh";
        //settings.Theme = "MetropolisBlue"; ///Thay đổi giao diện
        settings.ColCount = 5;
        settings.Width = 900;
        /////////////////////////////////////////////////////////THÔNG TIN CƠ BẢN
        settings.Items.AddGroupItem(group =>
        {
            group.Caption = "Thông tin cơ bản";
            group.ShowCaption = DefaultBoolean.True;
            group.GroupBoxDecoration = GroupBoxDecoration.Box;
            group.ColSpan = 2;
            group.ColCount = 2;
            group.Width = Unit.Pixel(400);
            group.Items.Add(m =>
            {
                m.FieldName = "NgayKhamBenh";
                m.NestedExtensionSettings.Width = Unit.Pixel(100);
            }).SetNestedContent(() => Html.DevExpress().DateEditFor(i => i.NgayKhamBenh, mySettings =>
            {
                mySettings.Width = Unit.Pixel(100);
                mySettings.Properties.Width = Unit.Pixel(100);
            }).Render());
            group.Items.Add(m =>
            {
                m.FieldName = "MaBNQL";
                m.NestedExtensionSettings.Width = Unit.Percentage(100);
            }).SetNestedContent(() => Html.DevExpress().TextBoxFor(i => i.MaBNQL, mySettings =>
            {
                mySettings.Width = Unit.Percentage(100);
                mySettings.Properties.Width = Unit.Percentage(100);
            }).Render());
            group.Items.Add(m =>
            {
                m.FieldName = "TrieuChung";
                m.ColSpan = 2;
                m.NestedExtensionType = FormLayoutNestedExtensionItemType.Memo;
                m.NestedExtensionSettings.Width = Unit.Percentage(100);
            });
        });

        ///////////////////////////////////////KẾT QUẢ CẬN LÂM SÀNG
        settings.Items.AddGroupItem(group =>
        {
            group.Caption = "Kết quả cận lâm sàng";
            group.ShowCaption = DefaultBoolean.True;
            group.GroupBoxDecoration = GroupBoxDecoration.Box;
            group.ColSpan = 3;
            group.ColCount = 3;
            group.Width = Unit.Pixel(500);
            group.Items.Add(m =>
            {
                m.FieldName = "NgayChupXQ";
                m.NestedExtensionSettings.Width = Unit.Pixel(100);
            }).SetNestedContent(() => Html.DevExpress().DateEditFor(i => i.NgayChupXQ, mySettings =>
            {
                mySettings.Width = Unit.Pixel(100);
                mySettings.Properties.Width = Unit.Pixel(100);
            }).Render());
            group.Items.Add(m =>
            {
                m.FieldName = "XQ";
                m.ColSpan = 2;
                m.NestedExtensionSettings.Width = Unit.Percentage(100);
            }).SetNestedContent(() => Html.DevExpress().ComboBoxFor(i => i.XQ, cbSettings =>
            {
                cbSettings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                cbSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                cbSettings.Properties.Items.Add("Không chụp XQ", "Không chụp XQ");
                cbSettings.Properties.Items.Add("Kết quả XQ bình thường", "Kết quả XQ bình thường");
                cbSettings.Properties.Items.Add("Kết quả XQ bất thường không nghi lao", "Kết quả XQ bất thường không nghi lao");
                cbSettings.Properties.Items.Add("Kết quả XQ bất thường nghi lao", "Kết quả XQ bất thường nghi lao");
                cbSettings.Width = Unit.Percentage(100);
                cbSettings.Properties.Width = Unit.Percentage(100);
            }).Render());

            group.Items.Add(m =>
            {
                m.FieldName = "Khac";
                m.ColSpan = 3;
                m.NestedExtensionType = FormLayoutNestedExtensionItemType.Memo;
                m.NestedExtensionSettings.Width = Unit.Percentage(100);
            });

        });


        //////////////////////////////////////GRID THÔNG TIN PHIẾU KHÁM BỆNH CỦA BỆNH NHÂN
        settings.Items.AddGroupItem(group =>
        {
            group.Caption = "Thông tin Phiếu khám bệnh của Bệnh nhân";
            group.ShowCaption = DefaultBoolean.True;
            group.GroupBoxDecoration = GroupBoxDecoration.Box;
            // group.Width = Unit.Pixel(550);
            group.ColSpan = 3;
            group.ColCount = 3;

            group.Items.Add(m =>
            {
                m.ShowCaption = DefaultBoolean.False;
                m.SetNestedContent(() =>
                {
                    @Html.DevExpress().Panel(panelButton =>
                    {
                        panelButton.Name = "Panel";
                        panelButton.FixedPosition = PanelFixedPosition.None;
                        panelButton.SettingsCollapsing.ExpandEffect = PanelExpandEffect.Auto;

                        panelButton.SetContent(() =>
                        {
                            @Html.DevExpress().Button(
                                myButton =>
                                {
                                    myButton.Name = "btnThemMoiPXN";
                                    myButton.Text = "Thêm phiếu xét nghiệm";
                                    myButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                    myButton.Images.Image.Url = "~/Content/Images/add.png";
                                    myButton.ClientSideEvents.Click = "function() { GridPhieuXetNghiem.AddNewRow(); }";
                                    myButton.Enabled = !ReferenceEquals(Session["ID_BenhNhan"], "");
                                    myButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                }).GetHtml();
                            @Html.DevExpress().Button(
                                    myButton =>
                                    {
                                        myButton.Name = "btnSuaPXN";
                                        myButton.Text = "Sửa PXN";
                                        myButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                        myButton.Images.Image.Url = "~/Content/Images/edit.png";
                                        myButton.ClientSideEvents.Click = "function( ) { GridPhieuXetNghiem.StartEditRow(GridPhieuXetNghiem.GetFocusedRowIndex()); }";
                                        myButton.Enabled = !ReferenceEquals(Session["ID_BenhNhan"], "");
                                        myButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                    }).GetHtml();
                            @Html.DevExpress().Button(
                                    myButton =>
                                    {
                                        myButton.Name = "btnXoaPXN";
                                        myButton.Text = "Xóa PXN";
                                        myButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                        myButton.Images.Image.Url = "~/Content/Images/delete.png";
                                        myButton.ClientSideEvents.Click = "function( ) { if(confirm('Bạn có chắc chắn xóa dữ liệu này không?')) GridPhieuXetNghiem.DeleteRow(GridSoKhamBenh.GetFocusedRowIndex()); }";
                                        myButton.Enabled = !ReferenceEquals(Session["ID_BenhNhan"], "");
                                        myButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                    }).GetHtml();
                            @Html.DevExpress().Button(
                                  myButton =>
                                  {
                                      myButton.Name = "btnLuuPXN";
                                      myButton.Text = "Lưu PXN";
                                      myButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                      myButton.Images.Image.Url = "~/Content/Images/delete.png";
                                      myButton.ClientSideEvents.Click = "function( ) { GridPhieuXetNghiem.UpdateEdit();  }";
                                      myButton.Enabled = !ReferenceEquals(Session["ID_BenhNhan"], "");
                                      myButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                  }).GetHtml();
                            @Html.DevExpress().Button(
                                    myButton =>
                                    {
                                        myButton.Name = "btnInPXN";
                                        myButton.Text = "In PXN";
                                        myButton.Images.Image.Url = "~/Content/Images/print.png";
                                        //myButton.ClientSideEvents.Click = "function() { if(confirm('Want to delete?')) { GridSoKhamBenh.DeleteRow(); } }";
                                        myButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                        myButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                        myButton.Enabled = !ReferenceEquals(Session["ID_BenhNhan"], "");
                                    }).GetHtml();
                        });
                    }).GetHtml();
                    Html.RenderAction("GridPhieuXetNghiem", "PhieuXetNghiem");
                });
            });
        });

        settings.Items.AddGroupItem(group =>
        {
            group.Caption = "Chi tiết kết quả xét nghiệm soi đờm trực tiếp";
            group.ShowCaption = DefaultBoolean.True;
            group.GroupBoxDecoration = GroupBoxDecoration.Box;
            group.Width = Unit.Percentage(100);
            group.ColSpan = 2;
            group.ColCount = 2;

            group.Items.Add(m =>
            {
                m.ShowCaption = DefaultBoolean.False;
                m.SetNestedContent(() =>
                {
                    @Html.DevExpress().Panel(panelButton =>
                    {
                        panelButton.Name = "Panel4";
                        panelButton.FixedPosition = PanelFixedPosition.None;
                        panelButton.SettingsCollapsing.ExpandEffect = PanelExpandEffect.Auto;

                        panelButton.SetContent(() =>
                        {
                            @Html.DevExpress().Button(
                                myButton =>
                                {
                                    myButton.Name = "btnThemMoiKQPXN";
                                    myButton.Text = "Thêm";
                                    myButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                    myButton.Images.Image.Url = "~/Content/Images/add.png";
                                    myButton.ClientSideEvents.Click = "function() { GridPhieuXetNghiem.AddNewRow(); }";
                                    myButton.Enabled = !ReferenceEquals(Session["ID_BenhNhan"], "");
                                    myButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                }).GetHtml();
                            @Html.DevExpress().Button(
                                    myButton =>
                                    {
                                        myButton.Name = "btnSuaKQPXN";
                                        myButton.Text = "Sửa";
                                        myButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                        myButton.Images.Image.Url = "~/Content/Images/edit.png";
                                        myButton.ClientSideEvents.Click = "function( ) { GridPhieuXetNghiem.StartEditRow(GridPhieuXetNghiem.GetFocusedRowIndex()); }";
                                        myButton.Enabled = !ReferenceEquals(Session["ID_BenhNhan"], "");
                                        myButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                    }).GetHtml();
                            @Html.DevExpress().Button(
                                    myButton =>
                                    {
                                        myButton.Name = "btnXoaKQPXN";
                                        myButton.Text = "Xóa";
                                        myButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                        myButton.Images.Image.Url = "~/Content/Images/delete.png";
                                        myButton.ClientSideEvents.Click = "function( ) { if(confirm('Bạn có chắc chắn xóa dữ liệu này không?')) GridPhieuXetNghiem.DeleteRow(GridSoKhamBenh.GetFocusedRowIndex()); }";
                                        myButton.Enabled = !ReferenceEquals(Session["ID_BenhNhan"], "");
                                        myButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                    }).GetHtml();
                            @Html.DevExpress().Button(
                                    myButton =>
                                    {
                                        myButton.Name = "btnInKQPXN";
                                        myButton.Text = "In";
                                        myButton.Images.Image.Url = "~/Content/Images/print.png";
                                        //myButton.ClientSideEvents.Click = "function() { if(confirm('Want to delete?')) { GridSoKhamBenh.DeleteRow(); } }";
                                        myButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                        myButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                        myButton.Enabled = !ReferenceEquals(Session["ID_BenhNhan"], "");
                                    }).GetHtml();
                        });
                    }).GetHtml();
                    Html.RenderAction("GridKetQuaXetNghiem", "PhieuXetNghiem");
                });
            });
        });
        ///////////////////////////////////////Ý KIẾN CHẨN ĐOÁN CỦA BÁC SỸ
        settings.Items.AddGroupItem(group =>
        {
            group.Caption = "Ý kiến chẩn đoán của bác sỹ";
            group.ShowCaption = DefaultBoolean.True;
            group.GroupBoxDecoration = GroupBoxDecoration.Box;
            group.ColSpan = 5;
            group.ColCount = 5;
            group.Width = Unit.Percentage(100);

            group.Items.Add(m =>
            {
                m.FieldName = "NoiGioiThieu";
                m.ColSpan = 2;
                m.NestedExtensionType = FormLayoutNestedExtensionItemType.Memo;
                m.NestedExtensionSettings.Width = Unit.Pixel(350);
            });
            group.Items.Add(m =>
            {
                m.FieldName = "ToChongLao";
                m.ColSpan = 3;
                m.NestedExtensionType = FormLayoutNestedExtensionItemType.Memo;
                m.NestedExtensionSettings.Width = Unit.Pixel(350);
            });

            group.Items.Add(m =>
            {
                m.FieldName = "XuTri";
                m.ColSpan = 2;
                m.NestedExtensionType = FormLayoutNestedExtensionItemType.Memo;
                m.NestedExtensionSettings.Width = Unit.Pixel(350);
            });
            group.Items.Add(m =>
            {
                m.FieldName = "BSKhamBenh";
                m.ColSpan = 3;
                m.NestedExtensionType = FormLayoutNestedExtensionItemType.Memo;
                m.NestedExtensionSettings.Width = Unit.Pixel(350);
            });
            group.Items.Add(m =>
            {
                m.FieldName = "GhiChu";
                m.ColSpan = 5;
                m.NestedExtensionType = FormLayoutNestedExtensionItemType.Memo;
                m.NestedExtensionSettings.Width = Unit.Percentage(100);
            });
        });

        ///////////////////////////////////////////FOOTER
        settings.Items.Add(itemSettings =>
        {
            itemSettings.ShowCaption = DefaultBoolean.False;
            itemSettings.ColSpan = 5;
        }).SetNestedContent(() =>
            {
                ViewContext.Writer.Write("<div style='float:right'>");
                Html.DevExpress().Button(
                    btnSettings =>
                    {
                        btnSettings.Name = "btnUpdate1";
                        btnSettings.Text = "Lưu toàn bộ";
                        btnSettings.ClientSideEvents.Click = "function(s, e){ GridPhieuXetNghiem.UpdateEdit(); }";
                    }).Render();
                Html.DevExpress().Button(
                    btnSettings =>
                    {
                        btnSettings.Name = "btnCancel";
                        btnSettings.Text = "Đóng màn hình";
                        btnSettings.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                        btnSettings.ClientSideEvents.Click = "function(s, e){ GridPhieuXetNghiem.CancelEdit(); }";
                    }).Render();
                ViewContext.Writer.Write("</div>");
            });

        Html.HiddenFor(m => m.ID_BENHNHAN); 
        //var groupItem = settings.Items.AddGroupItem(groupSettings =>
        //{
        //    groupSettings.Caption = "Thông tin chi tiết";
        //    groupSettings.ShowCaption = DefaultBoolean.True;
        //    groupSettings.GroupBoxDecoration = GroupBoxDecoration.Box;

        //    groupSettings.ColSpan = 4;
        //    groupSettings.ColCount = 4;
        //});

        //groupItem.SettingsItems.ShowCaption = DefaultBoolean.True;
        //groupItem.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Left;

        //groupItem.Items.Add(m => m.ID_SoKhamBenh);
        // groupItem.Items.Add(m => m.ID_BENHNHAN);
        //groupItem.Items.Add(m => m.KetQuaXetNghiemDom);
        //groupItem.Items.Add(m => m.TrangThaiDomDaiThe);
        //groupItem.Items.Add(m => m.SoMauDom);
        //groupItem.Items.Add(m => m.NgayXetNghiemDom);

        //groupItem.Items.Add(m => m.HuyenKB);
        //groupItem.Items.Add(m => m.TinhKB);
        //groupItem.Items.Add(m => m.HUY);
        //groupItem.Items.Add(m => m.NGAYHUY);

    }).GetHtml()

</div>