@model NTP_MVC.Models.SoKhamBenhModel
<script>
    var ID_BenhNhan = "";
    var ID_BenhNhanCD = "";
    function OnGridBNFocusedRowChanged(s, e) {
        ID_BenhNhan = s.GetRowKey(s.GetFocusedRowIndex());
    }
    function OnGridBNCDFocusedRowChanged(s, e) {
        ID_BenhNhanCD = s.GetRowKey(s.GetFocusedRowIndex());
    }
    function OnGridBNRowDblClick(s, e) {
        window.location.href = '@Url.Content("~")' + "SoKhamBenh?ID_BenhNhan=" + GridBenhNhan.GetRowKey(GridBenhNhan.GetFocusedRowIndex());
    }

    function OnGridBNFocusedRowChanged(s, e) {
        if (s.GetFocusedRowIndex() != -1) {
            ID_BenhNhan = s.GetRowKey(s.GetFocusedRowIndex());
            GridSoKhamBenh.PerformCallback();
        }
    }

    function searchBN() {
        if (ComboBoxTinh.GetValue() != null) {
            $.ajax({
                url: '@Url.Action("SearchBenhNhan","SoKhamBenh")',
                type: "POST",
                data: {
                    matinh: ComboBoxTinh.GetValue(),
                    mahuyen: ComboBoxHuyen.GetValue(),
                    hoten: txtHoTen.GetText(),
                    mabnql: txtMaBNQL.GetText(),
                    socmnd: txtSoCMND.GetText(),
                    nkbfrom: NKBFrom.GetText(),
                    nkbto: NKBTo.GetText()
                },
                success: function (d) {
                    $("#DivGridBenhNhan").html(d);
                    ID_BenhNhan = GridBenhNhan.GetRowKey(GridBenhNhan.GetFocusedRowIndex());
                    GridSoKhamBenh.PerformCallback();
                }

            });
        }
        else {
            alert("Chưa chọn địa phương cần tìm");
        }
    }

    function OpenInNewTab(url) {
        var win = window.open(url, '_blank');
        win.focus();
    } 
</script>

@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
)
@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.Report })
@Html.DevExpress().FormLayout(settings =>
{
    settings.Name = "ListBenhNhan";
    settings.RequiredMarkDisplayMode = RequiredMarkMode.None;
    settings.Width = Unit.Percentage(100);
    settings.Items.AddGroupItem(group =>
    {
        group.Caption = "Tìm kiếm bệnh nhân";
        group.GroupBoxDecoration = GroupBoxDecoration.Box;
        group.Width = Unit.Percentage(100);
        group.Items.Add(item =>
        {
            item.Caption = "Thuộc đơn vị";
            item.ShowCaption = DefaultBoolean.False;
            item.SetNestedContent(() =>
            {
                ViewContext.Writer.Write("<table><tr><td style=\"padding-right:5px;\">");
                Html.RenderPartial("_ComboBoxTinh");
                ViewContext.Writer.Write("</td><td style=\"padding-right:5px;\">");
                Html.RenderPartial("_ComboBoxHuyen");
                ViewContext.Writer.Write("</td><td style=\"padding-right:5px;\">");
                Html.RenderPartial("_ComboBoxXa"); 
                ViewContext.Writer.Write("</td></tr><tr><td style=\"padding-right:5px;\">");
                Html.DevExpress().TextBox(mySettings =>
                {
                    mySettings.Name = "txtHoTen";
                    mySettings.Properties.Caption = "Họ tên";
                    mySettings.Width = Unit.Pixel(200);
                }).Render();
                ViewContext.Writer.Write("</td><td style=\"padding-right:5px;\">");
                Html.DevExpress().TextBox(mySettings =>
                {
                    mySettings.Name = "txtMaBNQL";
                    mySettings.Properties.Caption = "Mã BNQL";
                    mySettings.Width = Unit.Pixel(150);
                }).Render();
                ViewContext.Writer.Write("</td><td style=\"padding-right:5px;\">");
                Html.DevExpress().TextBox(mySettings =>
                {
                    mySettings.Name = "txtSoCMND";
                    mySettings.Properties.Caption = "Số CMND";
                    mySettings.Width = Unit.Pixel(150);
                }).Render();

                ViewContext.Writer.Write("</td><td style=\"padding-right:5px;\">");
                Html.DevExpress().DateEdit(mySettings =>
                {
                    mySettings.Name = "NKBFrom";
                    mySettings.Properties.Caption = "Ngày khám bệnh từ";
                    mySettings.Width = Unit.Pixel(100);
                }).Render();
                ViewContext.Writer.Write("</td><td style=\"padding-right:5px;\">");
                Html.DevExpress().DateEdit(mySettings =>
                {
                    mySettings.Name = "NKBTo";
                    mySettings.Properties.Caption = "đến";
                    mySettings.Width = Unit.Pixel(100);
                }).Render();
                ViewContext.Writer.Write("</td><td style=\"padding-right:5px;\">");
                Html.DevExpress().Button(
               MyButton =>
               {
                   MyButton.Name = "btnSearch";
                   MyButton.Text = "Tìm kiếm";
                   MyButton.Height = 30;
                   MyButton.Images.Image.Url = "~/Content/Images/search.png";
                   MyButton.ClientSideEvents.Click = "function() { GridBenhNhan.PerformCallback(); }";
                   MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
               }).Render();
                ViewContext.Writer.Write("</td></tr></table>");
            });
        });

    });

    settings.Items.AddGroupItem(group =>
    {
        group.Caption = "Danh sách bệnh nhân";
        group.ShowCaption = DefaultBoolean.True;
        group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
        group.Width = Unit.Percentage(100);
        group.Items.Add(m =>
        {
            m.ShowCaption = DefaultBoolean.False;
            m.RequiredMarkDisplayMode = FieldRequiredMarkMode.Hidden;
        }).SetNestedContent(() =>
        {
            Html.DevExpress().Panel(settings5 =>
            {
                settings5.Name = "Panel";
                settings5.FixedPosition = PanelFixedPosition.None;
                settings5.SettingsCollapsing.ExpandEffect = PanelExpandEffect.Auto;
                settings5.SetContent(() =>
                {
                    Html.DevExpress().Button(
                       MyButton =>
                       {
                           MyButton.Name = "btnThemMoi";
                           MyButton.Width = 90;
                           MyButton.Text = "Thêm bệnh nhân";
                           MyButton.ClientSideEvents.Click = "function() { document.location='" + DevExpressHelper.GetUrl(
                                                                     new { Controller = "SoKhamBenh", Action = "Edit" }) +
                                                                     "?ID_BenhNhan=0" +
                                                                   "&ID_SoKhamBenh=0'}";
                           MyButton.Images.Image.Url = "~/Content/Images/add.png";
                           MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                       }).Render();
                    Html.DevExpress().Button(
                            MyButton =>
                            {
                                MyButton.Name = "btnSua";
                                MyButton.Width = 90;
                                MyButton.Text = "Sửa bệnh nhân";
                                MyButton.Images.Image.Url = "~/Content/Images/edit.png";
                                MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                MyButton.ClientSideEvents.Click = "function() { document.location='" + DevExpressHelper.GetUrl(
                                                                   new { Controller = "SoKhamBenh", Action = "Edit" }) +
                                                                 "?ID_BenhNhan=' + GridBenhNhan.GetRowKey(GridBenhNhan.GetFocusedRowIndex())+'" +
                                                                  "&ID_SoKhamBenh='+GridSoKhamBenh.GetRowKey(GridSoKhamBenh.GetFocusedRowIndex());}";
                            }).Render();
                    Html.DevExpress().Button(
                            MyButton =>
                            {
                                MyButton.Name = "btnXoa";
                                MyButton.Width = 90;
                                MyButton.Text = "Xóa bệnh nhân";
                                MyButton.Images.Image.Url = "~/Content/Images/delete.png";
                                MyButton.ClientSideEvents.Click = "function() { if(confirm('bạn có muốn xóa dữ liệu này không?')) {document.location='" + DevExpressHelper.GetUrl(
                                                                       new { Controller = "SoKhamBenh", Action = "DeleteBN" }) +
                                                                     "?ID_BenhNhan=' + GridBenhNhan.GetRowKey(GridBenhNhan.GetFocusedRowIndex());}}";
                                MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                            }).Render();
                    Html.DevExpress().Button(
                        MyButton =>
                        {
                            MyButton.Name = "btnInBN";
                            MyButton.Text = "In danh sách bệnh nhân";
                            MyButton.Images.Image.Url = "~/Content/Images/print.png";
                            //MyButton.ClientSideEvents.Click = "function() {OpenInNewTab('" + Url.Action("viewDoc", "SoKhamBenh") + "'); }";
                            MyButton.ClientSideEvents.Click = "function() {BaoCaoPopupControl.Show(); BaoCaoPopupControl.PerformCallback(); }";
                            MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                            MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                            MyButton.Enabled = Session["ID_BenhNhan"] != "";
                        }).Render();
                });
            }).Render();
            ViewContext.Writer.Write("<div id='DivGridBenhNhan'>");
            Html.RenderPartial("_GridBenhNhan", Model.ListBN);
            ViewContext.Writer.Write("</div>");
        });


    });
    settings.Items.AddGroupItem(group =>
    {
        group.Caption = "Sổ khám bệnh của bệnh nhân";
        group.ShowCaption = DefaultBoolean.True;
        group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
        group.Width = Unit.Percentage(100);
        group.Items.Add(m =>
        {
            m.ShowCaption = DefaultBoolean.False;
            m.RequiredMarkDisplayMode = FieldRequiredMarkMode.Hidden;
        }).SetNestedContent(() =>
        {
            Html.DevExpress().Panel(settings5 =>
            {
                settings5.Name = "Panel1";
                settings5.FixedPosition = PanelFixedPosition.None;
                settings5.SettingsCollapsing.ExpandEffect = PanelExpandEffect.Auto;
                settings5.SetContent(() =>
                {
                    Html.DevExpress().Button(
                       MyButton =>
                       {
                           MyButton.Name = "btnThemMoi1";
                           MyButton.Width = 90;
                           MyButton.Text = "Thêm sổ khám bệnh";
                           MyButton.ClientSideEvents.Click = "function() { document.location='" + DevExpressHelper.GetUrl(
                                                                       new { Controller = "SoKhamBenh", Action = "Edit" }) +
                                                                       "?ID_BenhNhan='+ GridBenhNhan.GetRowKey(GridBenhNhan.GetFocusedRowIndex())+'" +
                                                                     "&ID_SoKhamBenh=0'}";
                           MyButton.Images.Image.Url = "~/Content/Images/add.png";
                           MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                       }).Render();
                    Html.DevExpress().Button(
                            MyButton =>
                            {
                                MyButton.Name = "btnSua1";
                                MyButton.Width = 90;
                                MyButton.Text = "Sửa sổ khám bệnh";
                                MyButton.Images.Image.Url = "~/Content/Images/edit.png";
                                MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                MyButton.ClientSideEvents.Click = "function() { document.location='" + DevExpressHelper.GetUrl(
                                                                      new { Controller = "SoKhamBenh", Action = "Edit" }) +
                                                                    "?ID_BenhNhan=' + GridBenhNhan.GetRowKey(GridBenhNhan.GetFocusedRowIndex())+'" +
                                                                     "&ID_SoKhamBenh='+GridSoKhamBenh.GetRowKey(GridSoKhamBenh.GetFocusedRowIndex());}";
                            }).Render();
                    Html.DevExpress().Button(
                            MyButton =>
                            {
                                MyButton.Name = "btnXoa1";
                                MyButton.Width = 90;
                                MyButton.Text = "Xóa sổ khám bệnh";
                                MyButton.Images.Image.Url = "~/Content/Images/delete.png";
                                MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                MyButton.ClientSideEvents.Click = "function() { if(confirm('bạn có muốn xóa dữ liệu này không?')) {document.location='" + DevExpressHelper.GetUrl(
                                                                        new { Controller = "SoKhamBenh", Action = "DeleteSKB" }) +
                                                                       "?ID_SoKhamBenh='+GridSoKhamBenh.GetRowKey(GridSoKhamBenh.GetFocusedRowIndex());}}";
                            }).Render();
                });
            }).Render();

            Html.RenderPartial("_GridSoKhamBenh", Model.ListSKB);
        });
    });
}).GetHtml()

@Html.DevExpress().PopupControl(
        settings =>
        {
            settings.Name = "BaoCaoPopupControl";
            settings.PopupElementID = "popupArea";
            settings.LoadContentViaCallback = LoadContentViaCallback.OnFirstShow;
            settings.CallbackRouteValues = new { Controller = "SoKhamBenh", Action = "DocumentViewerPartial" };
           // settings.ClientSideEvents.CallbackError = "function(s, e ) { alert(e.message); }";


            settings.HeaderText = "XEM BÁO CÁO";
            settings.AllowDragging = true;
            settings.AllowResize = true; 
            settings.CloseAction = CloseAction.CloseButton;

            settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
            settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;

            settings.Height = 700;
            settings.Width = 1000;
        }).GetHtml()

