<script>

    var ID_SoKhamBenh = "";
    var ID_PhieuXetNghiem = "";
    var SoXN = "";
    var NgayNhanMau ;

    function OnGridFocusedRowChanged(s, e) {
        ID_SoKhamBenh = s.GetRowKey(s.GetFocusedRowIndex());
    }
    function OnGridRowDblClick(s, e) {
        s.StartEditRow(s.GetFocusedRowIndex());
    }

    function OnGridPXNFocusedRowChanged(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'ID_PhieuXetNghiem;SoXN;NgayXN', OnGetRowValues);
        GridKetQuaXetNghiem.PerformCallback();
    }

    function OnGetRowValues(Value) {
        ID_PhieuXetNghiem = Value[0];
        SoXN = Value[1];
        NgayNhanMau =  Value[2].toLocaleDateString('vi');
    }

    function GridKQPXN_OnBeginCallback(s, e) {
        e.customArgs["ID_PhieuXetNghiem"] = ID_PhieuXetNghiem;
        e.customArgs["SoXN"] = SoXN;
        e.customArgs["NgayNhanMau"] = NgayNhanMau;
    }
    function OnGridPXNRowDblClick(s, e) {
        s.StartEditRow(s.GetFocusedRowIndex());
    }

    //$(function () {
    //    $('#FormBenhNhan').on("submit",function (e) {
    //        e.preventDefault();
    //        $.ajax({
    //            url: this.action,
    //            type: this.method,
    //            data: $(this).serialize(),
    //            success: function (result) {
    //                alert(result);
    //                //$('#DivFormBenhNhan #BenhNhanFormLayout').html(result);
    //            }
    //        });
    //    });
    //});

</script>

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}


@Html.DevExpress().Splitter(settings =>
{
    settings.Name = "Splitter";
    settings.Width = Unit.Percentage(100);
    settings.Height = Unit.Pixel(800);
    settings.AllowResize = true;
    settings.FullscreenMode = true;
    settings.ShowCollapseBackwardButton = true;
    settings.Panes.Add(pane =>
    {
        pane.AllowResize = DefaultBoolean.False;
        pane.PaneStyle.Paddings.Padding = Unit.Pixel(0);
        pane.Collapsed = false;
        pane.ScrollBars = ScrollBars.Vertical;
        pane.AutoWidth = true;
        pane.SetContent(() =>
        {

            using (Ajax.BeginForm("CapNhatBenhNhan", "BenhNhan",
                                    new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        UpdateTargetId = "FormBenhNhan",
                                        InsertionMode = InsertionMode.Replace
                                    }))
            {
                ViewContext.Writer.Write("<div id='FormBenhNhan'>");
                Html.RenderPartial("~/Views/BenhNhan/_FormBenhNhan.cshtml", null);
                ViewContext.Writer.Write("</div>");
            }

            //using (Html.BeginForm("CapNhatBenhNhan", "BenhNhan", FormMethod.Post))
            //{
            //    ViewContext.Writer.Write("<div id='FormBenhNhan'>");
            //    Html.RenderPartial("~/Views/BenhNhan/_FormBenhNhan.cshtml", null);
            //    ViewContext.Writer.Write("</div>");
            //}
        });
    });

    settings.Panes.Add(pane4 =>
  {
      pane4.AllowResize = DefaultBoolean.False;
      pane4.PaneStyle.Paddings.Padding = Unit.Pixel(0);
      pane4.Collapsed = false;
      pane4.ScrollBars = ScrollBars.Vertical;
      pane4.AutoWidth = true;
      pane4.SetContent(() =>
      {

          @Html.DevExpress().Splitter(settings2 =>
             {
                 settings2.Name = "Splitter1";
                 settings2.Width = Unit.Percentage(100);
                 settings2.Height = Unit.Pixel(800);
                 settings2.AllowResize = true;
                 settings2.FullscreenMode = true;
                 settings2.ShowCollapseBackwardButton = true;
                 settings2.Orientation = Orientation.Vertical;
                 settings2.Panes.Add(pane1 =>
                 {
                     pane1.PaneStyle.Paddings.Padding = Unit.Pixel(0);
                     pane1.SetContent(() =>
                     {
                         //////////////////////////////////////////////////FORM SO KHAM BENH
                         //@Html.DevExpress().FormLayout(settings1 =>
                         //{
                         //    settings1.Name = "FormSoKhamBenh";
                         //    settings1.Items.AddGroupItem(group =>
                         //    {
                         //        group.Name = "Thông tin SỔ KHÁM BỆNH của bệnh nhân";
                         //        group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
                         //        group.Items.Add(item =>
                         //        {
                         //            item.Caption = "";
                         //            item.SetNestedContent(() =>
                         //            {
                         //                ViewContext.Writer.Write("<div id=\"DivSoKhamBenh\">");
                         //                Html.RenderPartial("GridSoKhamBenh");
                         //                ViewContext.Writer.Write("</div>");
                         //            });
                         //        });
                         //    });
                         //});
                         @Html.DevExpress().Panel(PanelButton =>
                         {
                             PanelButton.Name = "Panel2";
                             PanelButton.FixedPosition = PanelFixedPosition.None;
                             PanelButton.SettingsCollapsing.ExpandEffect = PanelExpandEffect.Auto;

                             PanelButton.SetContent(() =>
                             {
                                 @Html.DevExpress().Button(
                                     MyButton =>
                                     {
                                         MyButton.Name = "btnThemMoi";
                                         MyButton.Text = "Thêm sổ khám bệnh";
                                         MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                         MyButton.Images.Image.Url = "~/Content/Images/add.png";
                                         MyButton.ClientSideEvents.Click = "function() { GridSoKhamBenh.AddNewRow(); }";
                                         MyButton.Enabled = Session["ID_BenhNhan"] != "";
                                         MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                     }).GetHtml();
                                 @Html.DevExpress().Button(
                                         MyButton =>
                                         {
                                             MyButton.Name = "btnSua";
                                             MyButton.Text = "Sửa thông tin";
                                             MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                             MyButton.Images.Image.Url = "~/Content/Images/edit.png";
                                             MyButton.ClientSideEvents.Click = "function( ) { GridSoKhamBenh.StartEditRow(GridSoKhamBenh.GetFocusedRowIndex()); }";
                                             MyButton.Enabled = Session["ID_BenhNhan"] != "";
                                             MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                         }).GetHtml();
                                 @Html.DevExpress().Button(
                                         MyButton =>
                                         {
                                             MyButton.Name = "btnXoa";
                                             MyButton.Text = "Xóa";
                                             MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                             MyButton.Images.Image.Url = "~/Content/Images/delete.png";
                                             MyButton.ClientSideEvents.Click = "function( ) { if(confirm('Bạn có chắc chắn xóa dữ liệu này không?')) GridSoKhamBenh.DeleteRow(GridSoKhamBenh.GetFocusedRowIndex()); }";
                                             MyButton.Enabled = Session["ID_BenhNhan"] != "";
                                             MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                         }).GetHtml();
                                 @Html.DevExpress().Button(
                                         MyButton =>
                                         {
                                             MyButton.Name = "btnIn";
                                             MyButton.Text = "In sổ khám bệnh";
                                             MyButton.Images.Image.Url = "~/Content/Images/print.png";
                                             //MyButton.ClientSideEvents.Click = "function() { if(confirm('Want to delete?')) { GridSoKhamBenh.DeleteRow(); } }";
                                             MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                             MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                             MyButton.Enabled = Session["ID_BenhNhan"] != "";
                                         }).GetHtml();
                             });
                         }).GetHtml();
                         Html.RenderPartial("_GridSoKhamBenh");
                         /////////////////////////////////////////////////////////////FORM SO DIEU TRI

                         //@Html.DevExpress().FormLayout(settings1 =>
                         //{
                         //    settings1.Name = "FormDieuTri";
                         //    settings1.Items.AddGroupItem(group =>
                         //    {
                         //        group.Name = "Thông tin SỔ ĐIỀU TRỊ của bệnh nhân";
                         //        group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
                         //        group.Items.Add(item =>
                         //        {
                         //            item.Caption = "";
                         //            item.SetNestedContent(() =>
                         //            {
                         //                Html.RenderAction("GridSoKhamBenh", new { IDBenhNhan = 0 });
                         //            });
                         //        });
                         //    });
                         //});
                     });
                 });


                 settings2.Panes.Add(pane2 =>
                 {
                     pane2.PaneStyle.Paddings.Padding = Unit.Pixel(0);
                     pane2.SetContent(() =>
                     {

                         @Html.DevExpress().Panel(PanelButton =>
                         {
                             PanelButton.Name = "PanelSDT";
                             PanelButton.FixedPosition = PanelFixedPosition.None;
                             PanelButton.SettingsCollapsing.ExpandEffect = PanelExpandEffect.Auto;

                             PanelButton.SetContent(() =>
                             {
                                 @Html.DevExpress().Button(
                                     MyButton =>
                                     {
                                         MyButton.Name = "btnThemMoiSDT";
                                         MyButton.Text = "Thêm sổ điều trị";
                                         MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                         MyButton.Images.Image.Url = "~/Content/Images/add.png";
                                         MyButton.ClientSideEvents.Click = "function() { GridSoDieuTri.AddNewRow(); }";
                                         MyButton.Enabled = Session["ID_BenhNhan"] != "";
                                         MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                     }).GetHtml();
                                 @Html.DevExpress().Button(
                                         MyButton =>
                                         {
                                             MyButton.Name = "btnSuaSDT";
                                             MyButton.Text = "Sửa thông tin";
                                             MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                             MyButton.Images.Image.Url = "~/Content/Images/edit.png";
                                             MyButton.ClientSideEvents.Click = "function( ) { GridSoDieuTri.StartEditRow(GridSoDieuTri.GetFocusedRowIndex()); }";
                                             MyButton.Enabled = Session["ID_BenhNhan"] != "";
                                             MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                         }).GetHtml();
                                 @Html.DevExpress().Button(
                                         MyButton =>
                                         {
                                             MyButton.Name = "btnXoaSDT";
                                             MyButton.Text = "Xóa";
                                             MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                             MyButton.Images.Image.Url = "~/Content/Images/delete.png";
                                             MyButton.ClientSideEvents.Click = "function( ) { if(confirm('Bạn có chắc chắn xóa dữ liệu này không?')) GridSoDieuTri.DeleteRow(GridSoDieuTri.GetFocusedRowIndex()); }";
                                             MyButton.Enabled = Session["ID_BenhNhan"] != "";
                                             MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                         }).GetHtml();
                                 @Html.DevExpress().Button(
                                         MyButton =>
                                         {
                                             MyButton.Name = "btnInSDT";
                                             MyButton.Text = "In sổ điều trị";
                                             MyButton.Images.Image.Url = "~/Content/Images/print.png";
                                             //MyButton.ClientSideEvents.Click = "function() { if(confirm('Want to delete?')) { GridSoDieuTri.DeleteRow(); } }";
                                             MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                             MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                             MyButton.Enabled = Session["ID_BenhNhan"] != "";
                                         }).GetHtml();
                             });
                         }).GetHtml();
                         Html.RenderPartial("~/Views/SoDieuTri/_GridSoDieuTri.cshtml");

                     });
                 });

             }).GetHtml();

      });
  });
}).GetHtml()
