@model NTP_MVC.Models.HTDTGS

<script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
<link href="@Url.Content("~/Content/styles/lib/bootstrap.min.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/styles/kendo.common.min.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/styles/kendo.default.min.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/styles/style.css")" rel="stylesheet">
<script type="text/javascript" src="@Url.Content("~/Scripts/js/kendo.web.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.confirm/jquery.confirm.js")"></script>
<link href="@Url.Content("~/Scripts/jquery.confirm/jquery.confirm.css")" rel="stylesheet">
<script type="text/javascript" src="@Url.Content("~/Scripts/js/cultures/kendo.culture.vi-VN.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/js/cultures/kendo.culture.vi.min.js")"></script>
<style type="text/css">
    .htable th {
        background-color: #f5f5f5;
        border-bottom: thin solid #c5c5c5;
        border-left: thin solid #c5c5c5;
        padding: 2px 0px 2px 0px;
        margin-top: 0px;
        font-weight: normal;
    }
</style>
<script>
    $(document).ready(function () {
        kendo.culture("vi-VN");
        var jsonReq = {}; var modelMsg = {}; var isNew = 0;

        var MessageLoaiTinNhan = [
            { id: 1, name: 'Kiến thức về bệnh lao' },
            { id: 2, name: 'Uống thuốc đầy đủ' },
            { id: 3, name: 'Xét nghiệm lại đờm đầy đủ' },
            { id: 4, name: 'Về tác dụng phụ của thuốc' },
            { id: 5, name: 'Động lực cá nhân' },
            { id: 6, name: 'Động lực xã hội' },
            { id: 7, name: 'Kỹ năng thực hiện' }
        ];
        dataSourceMessageLoaiTinNhan = new kendo.data.DataSource({
            data: MessageLoaiTinNhan
        });
        var textMessageLoaiTinNhan = $("#textMessageLoaiTinNhan").kendoDropDownList({
            autoBind: true,
            dataTextField: "name",
            dataValueField: "id",
            filter: "contains",
            dataSource: dataSourceMessageLoaiTinNhan
        }).data("kendoDropDownList");

        var filterLoaiTinNhan = $("#filterLoaiTinNhan").kendoDropDownList({
            autoBind: true,
            optionLabel: "---",
            dataTextField: "name",
            dataValueField: "id",
            filter: "contains",
            dataSource: dataSourceMessageLoaiTinNhan
        }).data("kendoDropDownList");

        var loaiBenh = [
            { id: 1, name: "Lao phổi" },
            { id: 2, name: "Lao các thể" }
        ];
        dataSourceLoaiBenh = new kendo.data.DataSource({
            data: loaiBenh
        });

        var textMessageLoaiBenh = $("#textMessageLoaiBenh").kendoDropDownList({
            autoBind: true,
            dataTextField: "name",
            dataValueField: "id",
            filter: "contains",
            dataSource: dataSourceLoaiBenh
        }).data("kendoDropDownList");

        var filterLoaiBenh = $("#filterLoaiBenh").kendoDropDownList({
            autoBind: true,
            optionLabel: "---",
            dataTextField: "text",
            dataValueField: "id",
            filter: "contains",
            dataSource: dataSourceLoaiBenh
        }).data("kendoDropDownList");

        dataSourceMessage = new kendo.data.DataSource({
            pageSize: 5,
            schema: {
                model: {
                    id: "ID",
                    fields: {
                        ID: { editable: false, nullable: true },
                        NoiDung: { editable: true, validation: { required: true } },
                        LoaiTinNhan: { editable: true, validation: { required: true } }
                    }
                }
            },
            serverPaging: false
        });

        var gridThongDiep = $("#gridThongDiep").kendoGrid({
            autoBind: true,
            dataSource: dataSourceMessage,
            navigatable: true,
            pageable: true,
            pageable: {
                messages: {
                    display: '{0} - {1} / {2} thông điệp',
                    empty: ""
                }
            },
            resizable: true,
            sortable: true,
            columns: [
                { field: "NoiDung", width: "150px", title: 'Tin nhắn', attributes: { style: "white-space: normal" } },
                { field: "LoaiTinNhan", width: "80px", title: "Loại tin nhắn", attributes: { style: "white-space: normal" }, template: "#= dataSourceMessageLoaiTinNhan.at(LoaiTinNhan-1).name #" },
                { field: "LoaiBenhNhan", width: "80px", title: 'Loại bệnh nhân', attributes: { style: "white-space: normal" }, template: "#= dataSourceLoaiBenh.at(LoaiBenhNhan-1).name #" },
                { field: "T1", width: "20px", title: 'T1' },
                { field: "T2", width: "20px", title: 'T2' },
                { field: "T3", width: "20px", title: 'T3' },
                { field: "T4", width: "20px", title: 'T4' },
                { field: "T5", width: "20px", title: 'T5' },
                { field: "T6", width: "20px", title: 'T6' },
                { field: "T7", width: "20px", title: 'T7' },
                { field: "T8", width: "20px", title: 'T8' },
                { field: "T9", width: "20px", title: 'T9' },
                { field: "T10", width: "20px", title: 'T10' },
                { field: "T11", width: "20px", title: 'T11' },
                { field: "T12", width: "20px", title: 'T12' },
                { field: "T13", width: "20px", title: 'T13' },
                { field: "T14", width: "20px", title: 'T14' },
                { field: "T15", width: "20px", title: 'T15' },
                { field: "T16", width: "20px", title: 'T16' },
                { field: "T17", width: "20px", title: 'T17' },
                { field: "T18", width: "20px", title: 'T18' },
                { field: "T19", width: "20px", title: 'T19' },
                { field: "T20", width: "20px", title: 'T20' },
                { field: "T21", width: "20px", title: 'T21' },
                { field: "T22", width: "20px", title: 'T22' },
                { field: "T23", width: "20px", title: 'T23' },
                { field: "T24", width: "20px", title: 'T24' },
                { field: "T25", width: "20px", title: 'T25' },
                { field: "T26", width: "20px", title: 'T26' }
            ],
            editable: false,
            dataBound: function (e) {
                if (dataSourceMessage.total() > 0)
                    $("#log").html(dataSourceMessage.total() + ' thông điệp');
                else
                    $("#log").html('Không tìm thấy dữ liệu');
            },
            selectable: true
        }).data("kendoGrid");

        $("#gridThongDiep").data().kendoGrid.thead.prepend("<tr class='htable'  style='font-size:11px;' cellspacing='0'><th style='border-bottom:none;border-left:none;'></th><th style='border-bottom:none;'></th><th style='border-bottom:none;'></th><th colspan='26'>Số lần gửi tin nhắn theo tuần</th></tr>");

        function getMessages() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetDMThongDiep", "HoTroDieuTri")",
                data: { LoaiTinNhan: filterLoaiTinNhan.value(), LoaiBenhNhan: filterLoaiBenh.value() },               
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        dataSourceMessage.data(data);
                    } else {
                        dataSourceMessage.data({});
                    }

                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
        }

        $("#buttonSearch").click(function () {
            getMessages();
        });

        $("#gridThongDiep").delegate("tbody>tr", "dblclick", function () {
            var selectedRow = gridThongDiep.select();

            if (selectedRow) {
                isNew = 0;
                modelMsg = gridThongDiep.dataItem(selectedRow);
                $("#textMessage").val(modelMsg.NoiDung);
                textMessageLoaiTinNhan.value(modelMsg.LoaiTinNhan);
                textMessageLoaiBenh.value(modelMsg.LoaiBenhNhan);
                setEnableMsgForm(false);
                for (var i = 1; i < 27; i++) {
                    $("#T" + i).val(modelMsg["T" + i]);
                }
            }

        });

        function setEnableMsgForm(status) {
            $("#textMessage").prop('disabled', status); 
           
            for (var i = 1; i < 27; i++) {
                $("#T" + i).prop('disabled', status);
            }
            textMessageLoaiTinNhan.enable(!status);
            textMessageLoaiBenh.enable(!status);
        }

        function resetMsgForm() {
            $("#textMessage").val(''); $("#T1").val(''); $("#T2").val(''); $("#T3").val('');
            for (var i=1;i<27;i++) {
                $("#T" + i).val('');
            }

            textMessageLoaiBenh.value('');
            textMessageLoaiTinNhan.value('');
        }

        $("#buttonNewMsg").click(function () {
            resetMsgForm(); modelMsg = {}; isNew = 1;
            setEnableMsgForm(false);
        })

        $("#buttonSaveMsg").click(function () {
            if (isNew == -1) {
                return;
            }

            var noiDung = $.trim($("#textMessage").val());

            if (noiDung == '') {
                alert("Bạn chưa nhập nội dung thông điệp");
                return;
            }

            var loaiBenh = $("#textMessageLoaiBenh").val();
            if (loaiBenh == '') {
                alert("Bạn chưa nhập loại bệnh nhân");
                return;
            }

            var LoaiTinNhan = $("#textMessageLoaiTinNhan").val();
            if (LoaiTinNhan == '') {
                alert("Bạn chưa nhập loại nội dung");
                return;
            }

            if (isNew == 1) {
                modelMsg.ID = 0;
            }

            modelMsg.NoiDung = noiDung;
            modelMsg.LoaiTinNhan = LoaiTinNhan;
            modelMsg.LoaiBenhNhan = loaiBenh;
            for (var i = 1; i < 27; i++) {
                var temp = $("#T" + i).val();
                temp = temp != '' ? temp : 0;
                modelMsg["T" + i] = temp;
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("SaveThongDiep", "HoTroDieuTri")",
                data: JSON.stringify(modelMsg),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert("Dữ liệu được lưu thành công");
                    if (isNew == 1) {
                        modelMsg.ID = data;
                        isNew = 0;
                    }
                    getMessages();
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
        });

        $("#buttonDeleteMsg").click(function () {
            if (modelMsg.ID != '' && modelMsg.ID > 0) {

                $.confirm({
                    'title': 'Thông báo',
                    'message': 'Bạn có chắc chắn muốn xóa dữ liệu này?',
                    'buttons': {
                        'Có': {
                            'class': 'blue',
                            'action': function () {
                                var paramreq = { ID: modelMsg.ID };
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("DeleteThongDiep", "HoTroDieuTri")",
                                    data: JSON.stringify(paramreq),
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function (data) {
                                        isNew = -1;
                                        resetMsgForm();
                                        dataSourceMessage.fetch();
                                    },
                                    failure: function (errMsg) {
                                        alert(errMsg);
                                    }
                                });
                            }
                        },
                        'Không': {
                            'class': 'gray',
                            'action': function () { }	// Nothing to do in this case. You can as well omit the action property.
                        }
                    }
                });
            }
        });
        resetMsgForm();
        filterLoaiBenh.value(''); filterLoaiTinNhan.value('');
        getMessages();

    });

</script>
<h2>Thông điệp truyền thông</h2>
<strong>Lọc theo</strong>: Loại tin nhắn:&nbsp;<input id="filterLoaiTinNhan" style="width:190px" />&nbsp;&nbsp;&nbsp;
Loại bệnh nhân:&nbsp;<input id="filterLoaiBenh" style="width:100px" />&nbsp;&nbsp;&nbsp;
<input class="btn btn-primary" style="width:50px;cursor:pointer;" id="buttonSearch" name="buttonSearch" value="Tìm" readonly /><br />
<p style="height:3px"></p>
<font color="#EE7318"><div id="log">&nbsp;</div></font>
<div id="gridThongDiep"></div>
<p style="height:3px"></p>
<font color="#08C"><strong>Bảng nhập liệu</strong></font>
<br /><br />
<div class="k-edit-label" style="width:auto;text-align:right;padding-right:5px;">Loại tin nhắn</div><input type="text" id="textMessageLoaiTinNhan" name="textMessageLoaiTinNhan" disabled style="width:190px" />&nbsp;&nbsp;
<div class="k-edit-label" style="width:auto;text-align:right;padding-right:5px;">Loại bệnh nhân</div><input type="text" id="textMessageLoaiBenh" name="textMessageLoaiBenh" disabled style="width:100px" />&nbsp;&nbsp;
<br />
<div class="k-edit-label" style="width:60px;text-align:right;padding-right:5px;">Tin nhắn</div><textarea id="textMessage" rows="3" cols="50" style="width:450px;" name="textMessage" disabled></textarea>
<br />
Số lần gửi tin nhắn theo tuần:<br />T1&nbsp;<input name="T1" style="width:15px;text-align:center;padding:0px;" id="T1" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T2&nbsp;<input name="T2" style="width:15px;text-align:center;padding:0px;" id="T2" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T3&nbsp;<input name="T3" style="width:15px;text-align:center;padding:0px;" id="T3" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T4&nbsp;<input name="T4" style="width:15px;text-align:center;padding:0px;" id="T4" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T5&nbsp;<input name="T5" style="width:15px;text-align:center;padding:0px;" id="T5" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T6&nbsp;<input name="T6" style="width:15px;text-align:center;padding:0px;" id="T6" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T7&nbsp;<input name="T7" style="width:15px;text-align:center;padding:0px;" id="T7" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T8&nbsp;<input name="T8" style="width:15px;text-align:center;padding:0px;" id="T8" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T9&nbsp;<input name="T9" style="width:15px;text-align:center;padding:0px;" id="T9" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T10&nbsp;<input name="T10" style="width:15px;text-align:center;padding:0px;" id="T10" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T11&nbsp;<input name="T11" style="width:15px;text-align:center;padding:0px;" id="T11" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T12&nbsp;<input name="T12" style="width:15px;text-align:center;padding:0px;" id="T12" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T13&nbsp;<input name="T13" style="width:15px;text-align:center;padding:0px;" id="T13" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;<br />
T14&nbsp;<input name="T14" style="width:15px;text-align:center;padding:0px;" id="T14" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T15&nbsp;<input name="T15" style="width:15px;text-align:center;padding:0px;" id="T15" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T16&nbsp;<input name="T16" style="width:15px;text-align:center;padding:0px;" id="T16" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T17&nbsp;<input name="T17" style="width:15px;text-align:center;padding:0px;" id="T17" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T18&nbsp;<input name="T18" style="width:15px;text-align:center;padding:0px;" id="T18" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T19&nbsp;<input name="T19" style="width:15px;text-align:center;padding:0px;" id="T19" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T20&nbsp;<input name="T20" style="width:15px;text-align:center;padding:0px;" id="T20" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T21&nbsp;<input name="T21" style="width:15px;text-align:center;padding:0px;" id="T21" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T22&nbsp;<input name="T22" style="width:15px;text-align:center;padding:0px;" id="T22" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T23&nbsp;<input name="T23" style="width:15px;text-align:center;padding:0px;" id="T23" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T24&nbsp;<input name="T24" style="width:15px;text-align:center;padding:0px;" id="T24" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T25&nbsp;<input name="T25" style="width:15px;text-align:center;padding:0px;" id="T25" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
T26&nbsp;<input name="T26" style="width:15px;text-align:center;padding:0px;" id="T26" onkeyup="this.value=this.value.replace(/[^\d\]+[\.]./,'')">&nbsp;
<br />
<input class="btn btn-primary" id="buttonNewMsg" style="width:80px;cursor:pointer;" readonly value="Tạo mới" />
<input class="btn btn-primary" id="buttonSaveMsg" style="width:80px;cursor:pointer;" readonly value="Lưu" />
<input class="btn btn-primary" id="buttonDeleteMsg" style="width:80px;cursor:pointer;" readonly value="Xóa" />