@using System.Xml
<div class="headerTop">
    <div>
        <img style="float:left" src="~/Content/Images/logo1.png" width="50" />
    </div>
    <div class="templateTitle">
        @Html.ActionLink("CHƯƠNG TRÌNH PHÒNG CHỐNG LAO VIỆT NAM - HỆ THỐNG GIÁM SÁT VÀ QUẢN LÝ THÔNG TIN", "Index", "Home")
    </div>
    <div class="loginControl">
        <span>Đơn vị:</span> <span>@Session["TenBV"]</span> <span><a href="@Href(@Url.Action("Index","Login"))">Thoát</a></span>
    </div>
</div>
<script>
    function GetMenuItemClick(s, e) {
        if (e.item.name == 'HuongDanSuDung') {
            PopupHelp.Show();
        };
    }
</script>
<div class="headerMenu">
    @* DXCOMMENT: Configure the header menu *@
    @Html.DevExpress().Menu(settings =>
{
    settings.Name = "HeaderMenu";
    settings.ItemAutoWidth = false;
    settings.Width = Unit.Percentage(100);
    settings.Styles.Style.Border.BorderWidth = Unit.Pixel(0);
    settings.Styles.Style.BorderTop.BorderWidth = Unit.Pixel(1);


    settings.Orientation = Orientation.Horizontal;
    settings.AllowSelectItem = true;
    settings.ShowPopOutImages = DefaultBoolean.True;
    settings.AllowSelectItem = true;
    settings.EnableHotTrack = true;
    settings.EnableAnimation = true;

    settings.Items.Add(Bigitem =>
   {
       Bigitem.Text = "Quản lý bệnh nhân";
       Bigitem.Name = "QuanLyBenhNhan";
       Bigitem.Items.Add(item =>
       {
           item.Text = "Thông tin quản lý";
           item.Name = "QuanLyBenhNhan";
           //item.Items.Add(subItem =>
           //{
           //    subItem.Text = "Danh sách bệnh nhân";
           //    subItem.Name = "DanhSachBenhNhan";
           //    subItem.Image.Url = "~/Content/Images/books.png";
           //});
      
           item.Items.Add(subItem =>
           {
               subItem.Text = "Sổ khám bệnh";
               subItem.Name = "SoKhamBenh";
               subItem.NavigateUrl = @Url.Action("Index", "SoKhamBenh");
           });
           //item.Items.Add(subItem =>
           //{
           //    subItem.Text = "Nhập phiếu xét nghiệm đờm";
           //    subItem.Name = "PhieuXetNghiem";
           //    subItem.NavigateUrl = @Url.Action("Index", "PhieuXetNghiem");
           //});
           item.Items.Add(subItem =>
           {
               subItem.Text = "Phiếu đăng ký điều trị";
               subItem.Name = "SoDieuTri";
               subItem.NavigateUrl = @Url.Action("Index", "SoDieuTri");
           });
           item.Items.Add(subItem =>
           {
               subItem.Text = "Phiếu xét nghiệm";
               subItem.Name = "BenhNhan";
               subItem.NavigateUrl = @Url.Action("Index", "BenhNhan");
           });
       });
       Bigitem.Items.Add(item =>
      {
          item.Text = "Nhập báo cáo";
          item.Name = "QuanLyBenhNhan";
          item.Items.Add(subItem =>
          {
              subItem.Text = "Nhập báo cáo thu nhận bệnh nhân lao";
              subItem.NavigateUrl = @Url.Action("Index", "BCThuNhanBNLao");
              subItem.Name = "BCThuNhanBNLao";
          });
          item.Items.Add(subItem =>
          {
              subItem.Text = "Nhập báo cáo kết quả điều trị";
              subItem.NavigateUrl = @Url.Action("Index", "BCKetQuaDT");
              subItem.Name = "BCKetQuaDT";
          });
          item.Items.Add(subItem =>
          {
              subItem.Text = "Nhập báo cáo kết quả âm hóa đờm";
              subItem.NavigateUrl = @Url.Action("Index", "BCKetQuaDT");
              subItem.Name = "BCKetQuaDT";
          });

      });
   });


    settings.Items.Add(item =>
    {
        item.Text = "Module Hỗ trợ điều trị";
        item.Name = "ModuleHoTroDieuTri";
        item.Items.Add(subItem =>
        {
            subItem.Text = "Danh sách bệnh nhân nhận tin nhắn";
            subItem.NavigateUrl = @Url.Action("DSBenhNhanNhanTinNhan", "HoTroDieuTri");
            subItem.Name = "DSBenhNhanNhanTinNhan";
        });
        item.Items.Add(subItem =>
        {
            subItem.Text = "Danh sách bệnh nhân từ chối nhận tin nhắn";
            subItem.NavigateUrl = @Url.Action("DSBenhNhanTuChoiNhanTinNhan", "HoTroDieuTri");
            subItem.Name = "DSBenhNhanTuChoiNhanTinNhan";
        });
        item.Items.Add(subItem =>
        {
            subItem.Text = "Danh sách bệnh nhân xét nghiệm";
            subItem.NavigateUrl = @Url.Action("DSBenhNhanXN", "HoTroDieuTri");
            subItem.Name = "DSBenhNhanXN";
        });
        item.Items.Add(subItem =>
        {
            subItem.Text = "Danh sách bệnh nhân đổi địa chỉ";
            subItem.NavigateUrl = @Url.Action("DSBenhNhanDoiDiaChi", "HoTroDieuTri");
            subItem.Name = "DSBenhNhanDoiDiaChi";
        });
        item.Items.Add(subItem =>
        {
            subItem.Text = "Danh sách bệnh nhân phản hồi tác dụng phụ";
            subItem.NavigateUrl = @Url.Action("DSBenhNhanPhanHoiTacDungPhu", "HoTroDieuTri");
            subItem.Name = "DSBenhNhanPhanHoiTacDungPhu";
        });
        item.Items.Add(subItem =>
        {
            subItem.Text = "Danh mục thông điệp";
            subItem.NavigateUrl = @Url.Action("DMThongDiep", "HoTroDieuTri");
            subItem.Name = "DMThongDiep";
        });
        item.Items.Add(subItem =>
        {
            subItem.Text = "Thống kê SMS";
            subItem.NavigateUrl = @Url.Action("ThongKeSMS", "HoTroDieuTri");
            subItem.Name = "ThongKeSMS";
        });
    });
    
    settings.Items.Add(item =>
    {
        item.Text = "Quản lý thuốc";
        item.Name = "BaoCao";
        item.Items.Add(subItem =>
        {
            subItem.Text = "Nhập BC sử dụng thuốc";
            subItem.NavigateUrl = @Url.Action("Index", "BCThuNhanBNLao");
            subItem.Name = "BCThuNhanBNLao";
        });
    });

    settings.Items.Add(item =>
    {
        item.Text = "Quản lý vật tư hóa chất";
        item.Name = "BaoCao";
        item.Items.Add(subItem =>
        {
            subItem.Text = "Nhập BC sử dụng VT-HC";
            subItem.NavigateUrl = @Url.Action("Index", "BCThuNhanBNLao");
            subItem.Name = "BCThuNhanBNLao";
        });
    });

    settings.Items.Add(item =>
    {
        item.Text = "Quản lý trang thiết bị";
        item.Name = "BaoCao";
        item.Items.Add(subItem =>
        {
            subItem.Text = "Nhập BC sử dụng trang thiết bị";
            subItem.NavigateUrl = @Url.Action("Index", "BCThuNhanBNLao");
            subItem.Name = "BCThuNhanBNLao";
        });
    });

    settings.Items.Add(item =>
    {
        item.Text = "Trợ giúp";
        item.Name = "TroGiup";
        item.NavigateUrl = "";
        item.Items.Add(subItem =>
        {
            subItem.Text = "Hướng dẫn sử dụng";
            subItem.Name = "HuongDanSuDung";
        });
        item.Items.Add(subItem =>
        {
            subItem.Text = "Giới thiệu";
            subItem.Name = "GioiThieu";
        });
    });

    settings.ItemDataBound = (source, e) =>
    {
        IHierarchyData itemHierarchyData = (IHierarchyData)e.Item.DataItem;
        XmlElement element = (XmlElement)itemHierarchyData.Item;
        if (element.Attributes["Index"] != null)
        {
            e.Item.Name = element.Name;
            //int imageIndex = int.Parse(element.Attributes["Index"].Value);
            e.Item.Image.Url = "~/Content/Images/save.png";
        }
    };

    settings.ClientSideEvents.ItemClick = "GetMenuItemClick";
    //}).BindToXML(HttpContext.Current.Server.MapPath("~/App_Data/TopMenu.xml"), "/items/*").GetHtml()
}).GetHtml()
</div>