@model NTP_MVC.Models.SO_SoDieuTri

@*@Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor, Theme = "MetropolisBlue" },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors, Theme = "MetropolisBlue" },
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout, Theme = "MetropolisBlue" }
    )*@
<div style="overflow-y:scroll; width:auto; height:550px;">

    @Html.DevExpress().FormLayout(settings =>
    {
        settings.Name = "FormSoDieuTri";
        //settings.Theme = "MetropolisBlue"; ///Thay đổi giao diện
        settings.ColCount = 4;
        settings.Width = 900;
        //Tab group Items
        settings.Items.AddTabbedGroupItem(Tabgroup =>
        {
            /////////////////////////////////////////////////////////THÔNG TIN ĐIỀU TRỊ
            Tabgroup.Items.Add(m =>
            {
                m.Caption = "Thông tin điều trị";
                m.NestedExtensionSettings.Width = Unit.Percentage(100);
            }).SetNestedContent(() =>
            {
                //NgayDT

                Html.DevExpress().DateEditFor(i => i.NgayDT, mySettings =>
                {
                    mySettings.Properties.Caption = "Ngày điều trị";
                    mySettings.Width = Unit.Pixel(100);
                    mySettings.Properties.Width = Unit.Pixel(100);
                }).Render();
                //SO DKKDT
                Html.DevExpress().TextBoxFor(i => i.SoDKDT, mySettings =>
                {
                    mySettings.Width = Unit.Percentage(100);
                    mySettings.Properties.Width = Unit.Percentage(100);
                }).Render();

                //ID_PhacdoDT

                Html.DevExpress().ComboBoxFor(i => i.ID_PhacdoDT, cbSettings =>
                {
                    cbSettings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                    cbSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                    cbSettings.Properties.Items.Add("2SHRZ/6HE", 1);
                    cbSettings.Properties.Items.Add("2EHRZ/6HE", 2);
                    cbSettings.Properties.Items.Add("2SHRZ/4RH", 3);
                    cbSettings.Properties.Items.Add("2SHRZE/1HRZE/5R3H3E3", 4);
                    cbSettings.Properties.Items.Add("2RHZ/4RH", 5);
                    cbSettings.Properties.Items.Add("2HRZE/4RH", 6);
                    cbSettings.Properties.Items.Add("2RHZE/4RHE", 7);
                    cbSettings.Properties.Items.Add("2SRHZE/1RHZE/5RHE", 8);
                    cbSettings.Properties.Items.Add("2SH/4RHE", 9);
                    cbSettings.Width = Unit.Percentage(100);
                    cbSettings.Properties.Width = Unit.Percentage(100);
                }).Render();

                //ID_PhacdoTD
                Html.DevExpress().ComboBoxFor(i => i.ID_PhacdoTD, cbSettings =>
                {
                    cbSettings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                    cbSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                    cbSettings.Properties.Items.Add("2SHRZ/6HE", 1);
                    cbSettings.Properties.Items.Add("2EHRZ/6HE", 2);
                    cbSettings.Properties.Items.Add("2SHRZ/4RH", 3);
                    cbSettings.Properties.Items.Add("2SHRZE/1HRZE/5R3H3E3", 4);
                    cbSettings.Properties.Items.Add("2RHZ/4RH", 5);
                    cbSettings.Properties.Items.Add("2HRZE/4RH", 6);
                    cbSettings.Properties.Items.Add("2RHZE/4RHE", 7);
                    cbSettings.Properties.Items.Add("2SRHZE/1RHZE/5RHE", 8);
                    cbSettings.Properties.Items.Add("2SH/4RHE", 9);
                    cbSettings.Width = Unit.Percentage(100);
                    cbSettings.Properties.Width = Unit.Percentage(100);
                }).Render();

                //PhacdoKhac
                Html.DevExpress().TextBoxFor(i => i.PhacdoKhac, mySettings =>
                {
                    mySettings.Width = Unit.Percentage(100);
                    mySettings.Properties.Width = Unit.Percentage(100);
                }).Render();

                //GiamSatDT
                Html.DevExpress().MemoFor(i => i.GiamSatDT, mySettings =>
                {
                    mySettings.Width = Unit.Percentage(100);
                    mySettings.Properties.Width = Unit.Percentage(100);
                }).Render();

                //ID_PhanLoaiBenh
                Html.DevExpress().ComboBoxFor(i => i.ID_PhanLoaiBenh, cbSettings =>
                {
                    cbSettings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                    cbSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                    cbSettings.Properties.Items.Add("Lao phổi AFB(+)", 1);
                    cbSettings.Properties.Items.Add("Lao phổi AFB(-)", 2);
                    cbSettings.Properties.Items.Add("Lao sơ nhiễm", 3);
                    cbSettings.Properties.Items.Add("Lao ngoài phổi", 4);
                    cbSettings.Width = Unit.Percentage(100);
                    cbSettings.Properties.Width = Unit.Percentage(100);
                }).Render();

                //ID_PhanLoaiBN
                Html.DevExpress().ComboBoxFor(i => i.ID_PhanLoaiBN, cbSettings =>
                {
                    cbSettings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                    cbSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                    cbSettings.Properties.Items.Add("Mới", 1);
                    cbSettings.Properties.Items.Add("Tái phát", 2);
                    cbSettings.Properties.Items.Add("Thất bại", 3);
                    cbSettings.Properties.Items.Add("Điều trị lại sau bỏ trị", 4);
                    cbSettings.Properties.Items.Add("Chuyển đến", 5);
                    cbSettings.Properties.Items.Add("AFB(-), lao ngoài phổi khác", 6);
                    cbSettings.Properties.Items.Add("AFB(+) khác", 7);
                    cbSettings.Width = Unit.Percentage(100);
                    cbSettings.Properties.Width = Unit.Percentage(100);
                }).Render();
            });

            //////////////////////////////////////GRID Kết quả xét nghiệm
            Tabgroup.Items.Add(m =>
            {
                m.Caption = "Kết quả xét nghiệm";
                m.NestedExtensionSettings.Width = Unit.Percentage(100);
            }).SetNestedContent(() =>
            {

                @Html.DevExpress().Panel(PanelButton =>
                {
                    PanelButton.Name = "Panel";
                    PanelButton.FixedPosition = PanelFixedPosition.None;
                    PanelButton.SettingsCollapsing.ExpandEffect = PanelExpandEffect.Auto;
                    PanelButton.ControlStyle.Border.BorderWidth = Unit.Pixel(1);
                    PanelButton.SetContent(() =>
                    {
                        @Html.DevExpress().Button(
                            MyButton =>
                            {
                                MyButton.Name = "btnThemMoiPXN";
                                MyButton.Text = "Thêm phiếu xét nghiệm";
                                MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                MyButton.Images.Image.Url = "~/Content/Images/add.png";
                                MyButton.ClientSideEvents.Click = "function() { GridPhieuXetNghiem.AddNewRow(); }";
                                MyButton.Enabled = Session["ID_BenhNhan"] != "";
                                MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                            }).GetHtml();
                        @Html.DevExpress().Button(
                                MyButton =>
                                {
                                    MyButton.Name = "btnSuaPXN";
                                    MyButton.Text = "Sửa thông tin";
                                    MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                    MyButton.Images.Image.Url = "~/Content/Images/edit.png";
                                    MyButton.ClientSideEvents.Click = "function( ) { GridPhieuXetNghiem.StartEditRow(GridPhieuXetNghiem.GetFocusedRowIndex()); }";
                                    MyButton.Enabled = Session["ID_BenhNhan"] != "";
                                    MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                }).GetHtml();
                        @Html.DevExpress().Button(
                                MyButton =>
                                {
                                    MyButton.Name = "btnXoaPXN";
                                    MyButton.Text = "Xóa";
                                    MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                    MyButton.Images.Image.Url = "~/Content/Images/delete.png";
                                    MyButton.ClientSideEvents.Click = "function( ) { if(confirm('Bạn có chắc chắn xóa dữ liệu này không?')) GridPhieuXetNghiem.DeleteRow(GridSoDieuTri.GetFocusedRowIndex()); }";
                                    MyButton.Enabled = Session["ID_BenhNhan"] != "";
                                    MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                }).GetHtml();
                        @Html.DevExpress().Button(
                                MyButton =>
                                {
                                    MyButton.Name = "btnInPXN";
                                    MyButton.Text = "In sổ khám bệnh";
                                    MyButton.Images.Image.Url = "~/Content/Images/print.png";
                                    //MyButton.ClientSideEvents.Click = "function() { if(confirm('Want to delete?')) { GridSoDieuTri.DeleteRow(); } }";
                                    MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                    MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                    MyButton.Enabled = Session["ID_BenhNhan"] != "";
                                }).GetHtml();
                    });
                }).GetHtml();
                Html.RenderAction("GridPhieuXetNghiem", "PhieuXetNghiem");
            });

            ///////////////////////////////////////KẾT QUẢ ĐIỀU TRỊ
            Tabgroup.Items.Add(m =>
            {
                m.Caption = "Kết quả điều trị";
                m.NestedExtensionSettings.Width = Unit.Percentage(100);
            }).SetNestedContent(() =>
            {
                Html.DevExpress().DateEditFor(i => i.NgayRV, mySettings =>
                {
                    mySettings.Width = Unit.Pixel(100);
                    mySettings.Properties.Width = Unit.Pixel(100);
                }).Render();

                Html.DevExpress().ComboBoxFor(i => i.ID_KetquaDT, cbSettings =>
                {
                    cbSettings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                    cbSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                    cbSettings.Properties.Items.Add("Khỏi", 1);
                    cbSettings.Properties.Items.Add("Hoàn thành điều trị", 2);
                    cbSettings.Properties.Items.Add("Chết", 3);
                    cbSettings.Properties.Items.Add("Thất bại", 4);
                    cbSettings.Properties.Items.Add("Bỏ", 5);
                    cbSettings.Properties.Items.Add("Chuyển", 6);
                    cbSettings.Properties.Items.Add("Không đánh giá", 7);
                    cbSettings.Width = Unit.Percentage(100);
                    cbSettings.Properties.Width = Unit.Percentage(100);
                }).Render();

                //m.FieldName = "Ghichu";
                //m.ColSpan = 2;
                //m.NestedExtensionType = FormLayoutNestedExtensionItemType.Memo;
                //m.NestedExtensionSettings.Width = Unit.Percentage(100);
            });


            ///////////////////////////////////////LAO /HIV
            Tabgroup.Items.Add(m =>
           {
               m.Caption = "Kết quả điều trị";
               m.NestedExtensionSettings.Width = Unit.Percentage(100);
           }).SetNestedContent(() =>
           {
               Html.DevExpress().ComboBoxFor(i => i.XNHIV1, cbSettings =>
               {
                   cbSettings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                   cbSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                   cbSettings.Properties.Items.Add("1. Không tư vấn", 1);
                   cbSettings.Properties.Items.Add("2. Tư vấn nhưng không XN HIV", 2);
                   cbSettings.Properties.Items.Add("3. Tư vấn, XN HIV không rõ kết quả", 3);
                   cbSettings.Properties.Items.Add("4. HIV(-)", 4);
                   cbSettings.Properties.Items.Add("5. Kết quả HIV(+) trước khi khám &amp; ĐKĐT Lao", 5);
                   cbSettings.Properties.Items.Add("6. HIV(+)", 6);
                   cbSettings.Width = Unit.Percentage(100);
                   cbSettings.Properties.Width = Unit.Percentage(100);
               }).Render();

               Html.DevExpress().ComboBoxFor(i => i.XNHIV2, cbSettings =>
               {
                   cbSettings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                   cbSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                   cbSettings.Properties.Items.Add("1. Không tư vấn", 1);
                   cbSettings.Properties.Items.Add("2. Tư vấn nhưng không XN HIV", 2);
                   cbSettings.Properties.Items.Add("3. Tư vấn, XN HIV không rõ kết quả", 3);
                   cbSettings.Properties.Items.Add("4. HIV(-)", 4);
                   cbSettings.Properties.Items.Add("5. Kết quả HIV(+) trước khi khám &amp; ĐKĐT Lao", 5);
                   cbSettings.Properties.Items.Add("6. HIV(+)", 6);
                   cbSettings.Width = Unit.Percentage(100);
                   cbSettings.Properties.Width = Unit.Percentage(100);
               }).Render();

               Html.DevExpress().ComboBoxFor(i => i.ART, cbSettings =>
               {
                   cbSettings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                   cbSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                   cbSettings.Properties.Items.Add("1. Không điều trị ARV", 1);
                   cbSettings.Properties.Items.Add("2. Điều trị ARV trước ĐK điều trị Lao", 2);
                   cbSettings.Properties.Items.Add("3. Điều trị ARV trong khi điều trị Lao", 3);
                   cbSettings.Width = Unit.Percentage(100);
                   cbSettings.Properties.Width = Unit.Percentage(100);
               }).Render();

               Html.DevExpress().ComboBoxFor(i => i.CPT, cbSettings =>
               {
                   cbSettings.Properties.DropDownStyle = DropDownStyle.DropDownList;
                   cbSettings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
                   cbSettings.Properties.Items.Add("1. Không ĐT Contrimoxazole", 1);
                   cbSettings.Properties.Items.Add("2. Điều trị Contrimoxazole trước ĐK điều trị Lao", 2);
                   cbSettings.Properties.Items.Add("3. Điều trị Contrimoxazole trong khi ĐK điều trị Lao", 3);
                   cbSettings.Width = Unit.Percentage(100);
                   cbSettings.Properties.Width = Unit.Percentage(100);
               }).Render();
           });

        });//End Tab group Items
        ///////////////////////////////////////////FOOTER
        settings.Items.Add(itemSettings =>
        {
            itemSettings.ShowCaption = DefaultBoolean.False;
            itemSettings.ColSpan = 4;
        }).SetNestedContent(() =>
            {
                ViewContext.Writer.Write("<div style='float:right'>");
                Html.DevExpress().Button(
                    btnSettings =>
                    {
                        btnSettings.Name = "btnUpdate1";
                        btnSettings.Text = "Lưu toàn bộ";
                        btnSettings.ClientSideEvents.Click = "function(s, e){ GridPhieuXetNghiem.UpdateEdit(); }";
                    }).Render();
                Html.DevExpress().Button(
                    btnSettings =>
                    {
                        btnSettings.Name = "btnCancel";
                        btnSettings.Text = "Đóng màn hình";
                        btnSettings.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                        btnSettings.ClientSideEvents.Click = "function(s, e){ GridPhieuXetNghiem.CancelEdit(); }";
                    }).Render();
                ViewContext.Writer.Write("</div>");
            });
        //ID_BENHNHAN
        Html.HiddenFor(m => m.ID_BENHNHAN);
    }).GetHtml()

</div>