<script>

    var ID_SoDieuTri = "";
    var ID_PhieuXetNghiem = "";
    function OnGridFocusedRowChanged(s, e) {
        ID_SoDieuTri = s.GetRowKey(s.GetFocusedRowIndex());
    }
    function OnGridRowDblClick(s, e) {
        s.StartEditRow(s.GetFocusedRowIndex());
    }

    function OnGridPXNFocusedRowChanged(s, e) {
        ID_PhieuXetNghiem = s.GetRowKey(s.GetFocusedRowIndex());
    }
    function OnGridPXNRowDblClick(s, e) {
        s.StartEditRow(s.GetFocusedRowIndex());
    }

    //$(function () {
    //    $('#FormBenhNhan').on("submit",function (e) {
    //        e.preventDefault();
    //        $.ajax({
    //            url: this.action,
    //            type: this.method,
    //            data: $(this).serialize(),
    //            success: function (result) {
    //                alert(result);
    //                //$('#DivFormBenhNhan #BenhNhanFormLayout').html(result);
    //            }
    //        });
    //    });
    //});

</script>

@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
@*@Html.DevExpress().LoadingPanel(
    LoadingPanelsettings =>
    {
        LoadingPanelsettings.Name = "loadingPanel";
        LoadingPanelsettings.Modal = true;
        LoadingPanelsettings.ContainerElementID = "validationForm";
        LoadingPanelsettings.Styles.LoadingDiv.BackColor = System.Drawing.Color.White;
    }).GetHtml()*@


@Html.DevExpress().Splitter(settings =>
{
    settings.Name = "Splitter";
    settings.Width = Unit.Percentage(100);
    settings.Height = Unit.Pixel(800);
    settings.AllowResize = true;
    settings.FullscreenMode = true;
    settings.ShowCollapseBackwardButton = true;
    settings.Panes.Add(pane =>
    {
        pane.AllowResize = DefaultBoolean.False;
        pane.PaneStyle.Paddings.Padding = Unit.Pixel(0);
        pane.Collapsed = false;
        pane.ScrollBars = ScrollBars.Vertical;
        pane.AutoWidth = true;
        pane.SetContent(() =>
        {

            using (Ajax.BeginForm("CapNhatBenhNhan", "BenhNhan",
                                    new AjaxOptions
                                    {
                                        HttpMethod = "POST",
                                        UpdateTargetId = "FormBenhNhan",
                                        InsertionMode = InsertionMode.Replace
                                    }))
            {
                ViewContext.Writer.Write("<div id='FormBenhNhan'>");
                Html.RenderPartial("~/Views/BenhNhan/_FormBenhNhan.cshtml", null);      
                ViewContext.Writer.Write("</div>");
            }

            //using (Html.BeginForm("CapNhatBenhNhan", "BenhNhan", FormMethod.Post))
            //{
            //    ViewContext.Writer.Write("<div id='FormBenhNhan'>");
            //    Html.RenderPartial("~/Views/BenhNhan/_FormBenhNhan.cshtml", null); 
            //    ViewContext.Writer.Write("</div>");
            //}
        });
    });
    settings.Panes.Add(pane =>
    {
        pane.PaneStyle.Paddings.Padding = Unit.Pixel(0);
        pane.SetContent(() =>
        {
            //////////////////////////////////////////////////FORM SO KHAM BENH
            //@Html.DevExpress().FormLayout(settings1 =>
            //{
            //    settings1.Name = "FormSoDieuTri";
            //    settings1.Items.AddGroupItem(group =>
            //    {
            //        group.Name = "Thông tin SỔ KHÁM BỆNH của bệnh nhân";
            //        group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
            //        group.Items.Add(item =>
            //        {
            //            item.Caption = "";
            //            item.SetNestedContent(() =>
            //            {
            //                ViewContext.Writer.Write("<div id=\"DivSoDieuTri\">");
            //                Html.RenderPartial("GridSoDieuTri");
            //                ViewContext.Writer.Write("</div>");
            //            });
            //        });
            //    });
            //});
            @Html.DevExpress().Panel(PanelButton =>
            {
                PanelButton.Name = "Panel";
                PanelButton.FixedPosition = PanelFixedPosition.None;
                PanelButton.SettingsCollapsing.ExpandEffect = PanelExpandEffect.Auto;
                PanelButton.ControlStyle.Border.BorderWidth = Unit.Pixel(1);
                PanelButton.SetContent(() =>
                {
                    @Html.DevExpress().Button(
                        MyButton =>
                        {
                            MyButton.Name = "btnThemMoi";
                            MyButton.Text = "Thêm sổ khám bệnh";
                            MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                            MyButton.Images.Image.Url = "~/Content/Images/add.png";
                            MyButton.ClientSideEvents.Click = "function() { GridSoDieuTri.AddNewRow(); }";
                            MyButton.Enabled = Session["ID_BenhNhan"] != "";
                            MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                        }).GetHtml();
                    @Html.DevExpress().Button(
                            MyButton =>
                            {
                                MyButton.Name = "btnSua";
                                MyButton.Text = "Sửa thông tin";
                                MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                MyButton.Images.Image.Url = "~/Content/Images/edit.png";
                                MyButton.ClientSideEvents.Click = "function( ) { GridSoDieuTri.StartEditRow(GridSoDieuTri.GetFocusedRowIndex()); }";
                                MyButton.Enabled = Session["ID_BenhNhan"] != "";
                                MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                            }).GetHtml();
                    @Html.DevExpress().Button(
                            MyButton =>
                            {
                                MyButton.Name = "btnXoa";
                                MyButton.Text = "Xóa";
                                MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                MyButton.Images.Image.Url = "~/Content/Images/delete.png";
                                MyButton.ClientSideEvents.Click = "function( ) { if(confirm('Bạn có chắc chắn xóa dữ liệu này không?')) GridSoDieuTri.DeleteRow(GridSoDieuTri.GetFocusedRowIndex()); }";
                                MyButton.Enabled = Session["ID_BenhNhan"] != "";
                                MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                            }).GetHtml();
                    @Html.DevExpress().Button(
                            MyButton =>
                            {
                                MyButton.Name = "btnIn";
                                MyButton.Text = "In sổ khám bệnh";
                                MyButton.Images.Image.Url = "~/Content/Images/print.png";
                                //MyButton.ClientSideEvents.Click = "function() { if(confirm('Want to delete?')) { GridSoDieuTri.DeleteRow(); } }";
                                MyButton.ControlStyle.Border.BorderWidth = Unit.Pixel(0);
                                MyButton.Style[HtmlTextWriterStyle.MarginLeft] = "5px";
                                MyButton.Enabled = Session["ID_BenhNhan"] != "";
                            }).GetHtml();
                });
            }).GetHtml();
            Html.RenderPartial("_GridSoDieuTri");
            /////////////////////////////////////////////////////////////FORM SO DIEU TRI

            //@Html.DevExpress().FormLayout(settings1 =>
            //{
            //    settings1.Name = "FormDieuTri";
            //    settings1.Items.AddGroupItem(group =>
            //    {
            //        group.Name = "Thông tin SỔ ĐIỀU TRỊ của bệnh nhân";
            //        group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
            //        group.Items.Add(item =>
            //        {
            //            item.Caption = "";
            //            item.SetNestedContent(() =>
            //            {
            //                Html.RenderAction("GridSoDieuTri", new { IDBenhNhan = 0 });
            //            });
            //        });
            //    });
            //});
        });
    });
}).GetHtml()
